@import "../elements/variables";

.merge {
  margin: 0;
  
  .merge-tool {
    .merge-tool-placeholder {
      width: 50px;
    }
    
    .merge-tool-header,
    .merge-tool-body,
    .merge-tool-footer {
      .source {
        &.source1 { margin-left: 25px; }
        &.source2 { margin-right: 25px; }
      }
    }
    
    .merge-tool-header {
      margin-bottom: -3px;
      
      .merge-tool-header-titles {
        margin-bottom: 5px;
        text-align: center;
        color: $white;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 1px;
      }

      .merge-tool-header-selectors {
        margin: 0;
        
        .merge-button {
          background-color: $brand-secondary;
          color: $white;
          border: none;
          width: 20%;
        }

        .merge-tool-header-selector {
          display: block;
          width: 400px;
          background-color: $white;
          padding: 5px 10px 0 10px;
          
          &.source {
            margin-bottom: 3px;
          }

          &.target {
            border: 3px solid $brand-secondary;
          }

          .merge-tool-header-selector-icon {
            position: relative;
            padding-top: 5px;

            .fa {
              position: relative;
              z-index: 1;
              padding: 0 10px;
              font-size: 1.3em;
              text-align: center;
            }

            .icon-line {
              display: block;
              position: absolute;
              margin-left: 16px;
              width: 3px;
              height: 75%;
              top: 25%;
              background-color: $lighter-gray;
            }
          }

          .source-name {
            padding-bottom: 10px;
          }
        }
      }
    }

    .merge-tool-body,
    .merge-tool-footer {
      background-color: $white;
      
      .line {
        display: block;
        position: absolute;
        margin-left: 26px;
        width: 3px;
        height: 100%;
        top: 0;
        background-color: #EBEBEB;
      }
      
      .source,
      .target {
        position: relative;
        background-color: $white;
        width: 400px;
        padding-bottom: 1px;
      }
      
      .target {
        border-left: 3px solid $brand-secondary;
        border-right: 3px solid $brand-secondary;
      }
      
      .merge-row {
        .key {
          text-align: right;
          font-weight: bold;
        }
        
        .arrow {
          position: absolute;
          color: $light-gray;
          
          &.arrow-source1 {
            right: -25px;
          }
          
          &.arrow-source2 {
            left: -20px;
          }
        }
      }
    }

    .merge-tool-footer {
      background-color: #F5F5F5;
      margin: 0;
      padding: 0;
      
      .line {
        height: 50%;
      }
      
      .source {
        height: 40px;
        
        // &.source1 { margin-left: 2px }
        // &.source2 { margin-right: 2px }
      }
      
      .target {
        margin-bottom: 40px;
        border-bottom: 3px solid $brand-secondary;
      }
      
      .conflict-count {
        margin: 10px 40px 10px 10px;
        color: $red;
        text-align: center;
        font-size: 1.2em;
      }
      
      .action-buttons {
        float: right;
      }
    }
  }
}
