// 3rd party resources
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// application imports
@import "elements/variables";
@import "components/header/logo";
@import "components/header/nav";
@import "components/header/page-header";
@import "containers/merge";
@import "vendors/font-awesome";

// DOM styles
body {
  background-color: $brand-primary;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  // padding-top: 70px;
  overflow-x: hidden;
}

a {
  color: $brand-primary;

  &:-webkit-any-link {
    text-decoration: none;
  }
}
