// 3rd party resources
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// application imports
@import "elements/animation";
@import "elements/buttons";
@import "elements/forms";
@import "elements/panels";
@import "elements/variables";
@import "components/header/logo";
@import "components/header/nav";
@import "components/header/page-header";
@import "containers/merge";
@import "vendors/font-awesome";

// DOM styles

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $brand-primary;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  overflow-x: hidden;
}

a {
  color: $brand-primary;

  &:-webkit-any-link {
    text-decoration: none;
  }
}
