@import './variables';

.Select {
  width: 100%;
  margin-top: -3px;

  &.is-focused {
    &:not(.is-open) > .Select-control {
      border: none;
      box-shadow: none;
    }
  }

  .Select-control {
    border: none;

    &:active:focus, &:focus {
      outline: none;
      box-shadow: none;
    }

    .Select-placeholder {
      font-style: italic;
    }
  }
}
